@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.height-divider {
    height: 60px;
    width: auto;
    display: block;
}

.box-1-loginform {
    width: 600px;
    padding: 0px;
    
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;

    text-align: center;

    box-sizing: border-box;
}

.box-1-loginform input[type = "text"], .box-1-loginform input[type = "password"], .box-1-loginform input[type = "email"] {
    
    border: 3px solid rgb(83, 83, 83);
    background-color: rgba(255, 255, 255, 0.6);

    display: block;
    margin: 20px auto;
    /*margin-left: 0;*/
    
    padding: 12px 10px;

    text-align: center;
    width: 220px;
    color: rgb(22, 22, 22);
    
    outline: none;

    border-radius: 50px;
    transition: ease 0.25s;

    font-weight: 100;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}

.box-1-loginform input[type = "text"]::placeholder, .box-1-loginform input[type = "password"]::placeholder, .box-1-loginform input[type = "email"]::placeholder {
    color: rgb(22, 22, 22);
}

.box-1-loginform input[type="email"]:focus {
    width: 325px;
    border-color: rgb(52, 152, 219);
}

.box-1-loginform input[type = "password"]:focus {
    border-color: rgb(52, 152, 219);
}
.new-to-aurora-1 {
    width: 250px;
    font-size: 16px;
    display: block;
    
    margin: 10px auto;

    transform: translate(1%, 10%);
}

.new-to-aurora-1 a{
    font-weight: 1000;
    transition: 0.1s ease;
}

.new-to-aurora-1 a:hover{
    font-weight: 1000;
    color: rgb(52, 152, 219);
}


.password-forgot-1 {
    width: 200px;
    font-size: 12px;
    display: block;
    
    margin: 20px auto;
    transform: translate(30%, -70%);
}

.password-forgot-1 a:hover {
    transition: 0.1s ease;
    color: rgb(52, 152, 219);
}


button.loginform {
    
    border: 3px solid rgb(83, 83, 83);
    background-color: rgba(255, 255, 255, 0.6);

    display: inline-block;
    margin: 20px auto;
    margin-left: 0;
    
    padding: 20px 15px;

    text-align: center;
    width: 350px;

    color: rgb(22, 22, 22);
    outline: none;
    /*box-shadow: 0 0 0 0 black;*/

    border-radius: 50px;
    transition: ease-out 0.2s;

    font-weight: 400;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}  

button.loginform:hover {
    border-color: rgb(52, 152, 219);
}

.show-password-login {
    position: absolute;

    color: rgb(22, 22, 22);
    
    left: 72%;
    top: 33.5%;
    font-size: 13px;

    cursor: pointer;

    transition: 0.1s ease-out;
}

.show-password-login:hover {
    color: rgb(52, 152, 219);
}

.space-divider {
    width: 25px;
    height: auto;
    display: inline-block;
}

.caps-lock-LOG {
    position: absolute;
    top:43.5%;
    left:31.5%;
    display: flex;
    width: 150px;
     
    color: rgb(252, 74, 74);
    font-size: 12px;
    font-weight: 900;

}