@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.box-1 {
    width: 525px;
    padding: 0px;
    
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;

    text-align: center;
}

.space-divider {
    width: 25px;
    height: auto;
    display: inline-block;
    
}


button {
    
    border: 3px solid rgb(83, 83, 83);
    background-color: rgba(255, 255, 255, 0.6);

    display: inline-block;
    margin: 20px auto;
    
    padding: 15px 10px;

    text-align: center;
    width: 250px;

    color: rgb(22, 22, 22);
    outline: none;
    /*box-shadow: 0 0 0 0 black;*/

    border-radius: 50px;
    transition: ease-out 0.2s;

    font-weight: 400;
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

button.register-button-box-1 {
    color: rgb(255, 255, 255);
    background-color: rgba(83, 83, 83, 0.8);
    border: 3px solid rgba(255, 255, 255, 0);
    
}

button.register-button-box-1:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: rgb(22, 22, 22);
    border: 3px solid rgb(52, 152, 219);
}

button.login-button-box-1:hover {
    border-color: rgb(52, 152, 219);
}