* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}

body {
    overflow: hidden;
    
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(175, 175, 175); 

    border-radius: 10px;
    width: 100px;

    transition: 0.3s ease-in-out;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(145, 145, 145);  
    
  }