

.page-content {
    width: 50%;
    margin: 0 auto;
    
    height: 100px;

    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -250%);

    background-color: none;

    font-family: 'Roboto Condensed', sans-serif;
    z-index: -1;
}

.aurora-name {
    width: 100%;
    height: 200px;

    display: block;
    text-align: center;
    margin-left: auto;
    margin-top: 170px;

    /*background-color: none;*/

    font-size: 100px;

}

.aurora-quote {
    padding: 50px;
    font-size: 45px;

}

.aurora-quote-animation {
    --colorFirst: rgb(52, 152, 219);
    --colorSecond: rgb(22, 22, 22);
    animation: aurora-quote-color-flicker 6s ease-in-out infinite;
}

@keyframes aurora-quote-color-flicker {
    0%   {color: var(--colorFirst)}
    50%  {color: var(--colorSecond)}
    100% {color: var(--colorFirst)}
}