
.dashboard-overlay {
      position: fixed;
      top:        0;
      left:       0;
      right:      0;
      bottom:     0;

      background-color: rgba(0, 0, 0, 0.4);
      
      z-index: 1000;

}

.dashboardaddmenu {
      position: absolute;
      top: 49%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 70rem;
      height: 45rem;

      background-color: rgba(212, 212, 212, 0.8);

      border-radius: 50px;
      z-Index: 1000;

      transition: 0.1s ease-out;      
}

.dashboardaddmenu:hover {
      background-color: rgba(199, 199, 199, 1);
}

.closebutton {
      position: fixed;
      top: -5%;
      right: -1%;

      padding: 30px;

      width: 20px;
      height: 20px;

      border: none;
      border-radius: 100%;
      background-color: rgba(235, 235, 235, 0.9);
      color: rgb(95, 95, 95);
      display: flex;
      align-items: center;
      justify-content: center;

      transition: 0.3s;

      opacity: 1;
      cursor: pointer;
}

.closebutton:hover {
      background-color: rgba(255, 255, 255, 1);
      color: rgb(48, 136, 194);

}

.add-menu-title {
    font-size: 30px;
    color: rgba(14, 14, 14, 0.952);
    text-align: right;

    position: block;

    margin: auto;
    margin-top: -50px;
    margin-right: 70px;

    opacity: 0;
    -webkit-animation: slide_txt 0.5s forwards;
      animation: slide_txt 0.5s forwards;

      transform: rotateZ(90deg)

}

.main-add-menu {
      position: fixed;

      margin: 40px 145px 100px 145px;

      top:        -50px;
      left:       0;
      right:      0;
      bottom:     50px;
      
      background-color: none;

      /*border: 1px solid red;*/

      -webkit-animation: slide 0.5s forwards;
      animation: slide 0.5s forwards;

      opacity: 0;

      display: grid;

      grid-template-columns: auto auto;

      grid-template-rows: 2rem;
      grid-column-gap: 0.5rem;
      grid-row-gap: 1rem;

}
  
  @-webkit-keyframes slide {
      100% { top: 65px; opacity: 1; }
  }
  
  @keyframes slide {
      100% { top: 65px; opacity: 1; }
  }

  @-webkit-keyframes slide_txt {
      100% { margin-top: 30px; opacity: 1; }
  }
  
  @keyframes slide_txt {
      100% { margin-top: 30px; opacity: 1; }
  }
  
  .main-add-menu input[type = "text"] {
      
      border: 3px solid rgb(83, 83, 83);
      background-color: rgba(255, 255, 255, 0.3);
  
      display: block;
      margin: auto;
      margin-top: 20px;
      
      padding: 12px 10px;
  
      text-align: center;
      width: 250px;

      color: rgb(22, 22, 22);
      
      outline: none;
  
      border-radius: 50px;
      transition: 0.3s;
  
      font-weight: 100;
      font-size: 15px;
      font-family: 'Roboto Condensed', sans-serif;
  }

 textarea {
    
    width: 250px;
    height: 300px;

    resize: vertical; 
    max-height: 300px;
    
    margin: auto;
    margin-top: 100px;

    border: 3px solid rgb(83, 83, 83);
    background-color: rgba(255, 255, 255, 0.3);
    padding: 12px 10px;
    display: block;

    outline: none;
  
      border-radius: 10px;
      transition: 0.3s;
  
      font-weight: 100;
      font-size: 18px;
      font-family: 'Roboto Condensed', sans-serif;
   
  }

  textarea:hover, textarea:focus {
      border-color: rgb(52, 136, 194);
  }
  
  .main-add-menu input[type = "text"]::placeholder {
      color: rgb(22, 22, 22);
  }

  .main-add-menu input:hover, .main-add-menu input:focus {
      border-color: rgb(52, 136, 194);
  }

.main-add-menu input[type="file"] {
    display: none;
    
}

.custom-file-upload {
    width: 190px;
    height: 20px;

    margin: auto;
    margin-top: 100px;

    border: 3px solid rgb(83, 83, 83);
    background-color: rgba(255, 255, 255, 0.3);

    display: block;
    padding: 10px 12px;
    cursor: pointer;

    outline: none;
  
      border-radius: 10px;
      
      font-weight: 100;
      font-size: 15px;
      font-family: 'Roboto Condensed', sans-serif;
}

.custom-file-upload:hover, .custom-file-upload:focus {
    border-color: rgb(52, 136, 194);
}

.custom-file-upload-bottom {
    width: 190px;
    height: 20px;

    margin: auto;
    margin-top: 10px;

    border: 3px solid rgb(83, 83, 83);
    background-color: rgba(255, 255, 255, 0.3);

    display: block;
    padding: 10px 12px;
    cursor: pointer;

    outline: none;
  
      border-radius: 10px;
      
      font-weight: 100;
      font-size: 15px;
      font-family: 'Roboto Condensed', sans-serif;
}

.custom-file-upload-bottom:hover, .custom-file-upload-bottom:focus {
    border-color: rgb(52, 136, 194);
}

.dashboard-add-menu-send {
    border: 2px solid rgba(199, 199, 199, 0.4);
    background-color: rgba(132, 186, 223, 0.5);

    display: block;
    margin: 20px auto;
    margin-top: 180px;
    padding: 10px 10px;

    text-align: center;
    width: 240px;

    cursor: pointer;
    color: rgb(22, 22, 22);
    outline: none;
    /*box-shadow: 0 0 0 0 black;*/

    border-radius: 10px;
    transition: ease-out 0.2s;

    font-weight: 400;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.dashboard-add-menu-send:hover {
    border-color: rgb(52, 152, 219);
    background-color: rgba(52, 152, 219, 1);
}