
.returnFromBook {

    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;

    padding: 10px 5px;

    text-align: center;
    width: 110px;

    color: rgb(22, 22, 22);

    cursor: pointer;

    font-weight: 100;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;

    transition: 0.1s ease-in-out;
}

.returnFromBook:hover {
    background-color: rgba(52, 152, 219, 0.1);
}

.textContainer {
      width: 50%;
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 50px;

      height: 100px;
  
      background-color: rgba(246, 246, 246, 0);
      
      z-index: -1;

      color: rgba(22, 22, 22, 1);
  }

  .buttonContainer {
    border-top: 1px solid rgba(52, 152, 219, 0.3);
    border-bottom: 1px solid rgba(52, 152, 219, 0.3);

    justify-content: center;
    margin-bottom: 50px;
    
    background-color: none;
  }

  /*.changeFontButton {
      width: 120px;
      padding: 8px;

      display: inline-block;

      background-color: none;
      color: rgba(52, 152, 219, 1);

      border: 0.15rem solid rgba(52, 152, 219, 0.8);
      border-radius: 20px;
      transition: 0.05s ease-in-out;

      font-size: 15.5px;
      text-align: center;
      cursor: pointer; 

      position: relative;
      margin-top: 30px;
      margin-bottom: 30px;
      font-weight: 600;
      transition: 0.1s ease-in-out;

      filter: brightness(1);
  }

  .changeFontButton:hover {
      filter: brightness(1.2);
  }*/

  .titletext {
      font-weight: bold;
      font-size: 80px;
      margin: 20px 40px;
      text-align: center;
  }

  .authortext {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 50px;
    text-align: center;
  }

  .booktext {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 20px;
  }